* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b657d;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#name {
    color: white;
    text-align: center;
    font-size: clamp(4rem, 4vw, 6rem);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

#links {
    width: clamp(20rem, 40vw, 25rem);
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links a {
    width: clamp(5rem, 6vw, 6rem);
    height: clamp(5rem, 6vw, 6rem);
    padding: clamp(1.25rem, 1.5vw, 1.5rem);

    border: none;
    border-radius: 2rem;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#links a img {
    width: 100%;
}